/server/node_modules
/server/log
/server/dist
/server/.env

/client/node_modules
/client/build
/lambda/confirmation_mailer/node_modules
/lambda/email_confirmation_updater/node_modules
/lambda/fraud_handler/node_modules
/lambda/token_cleaner/node_modules

